{extend name="layout/base" /}
{block name="csslink"}
<link rel="stylesheet" href="/static/plug/musik/js/parsley/parsley.css" type="text/css" />
{/block}
{block name="css"}
.i-checks i{ margin-left:0 }
{/block}
{block name="content"}

<form action="/edit/doSub.html?act=str" data-parsley-validate class="form" method="post">
    <div class="panel-body">
        <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
                <label>Zset</label>&nbsp;&nbsp;&nbsp;<label>TTL:{$info.ttl}</label>
                <input type="text" name="key" class="form-control parsley-validated" value="{$info.key}" placeholder="Key" required>
            </div>
            <div class="col-sm-6">
            </div>
        </div>



        <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
                <a id="" class="btn btn-sm btn-success">Rename</a>
                <a href="#" class="btn btn-sm btn-danger">Delete</a>
                <a href="#" class="btn btn-sm btn-info">Reload Value</a>
                <a href="#" class="btn btn-sm btn-success">Set TTL</a>
            </div>
        </div>

        <section class="panel panel-default">
            <header class="panel-heading">
                Hash Table
            </header>

            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="width:20px;"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                            <th>Value</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>                      
                      {foreach $info.val as $k=>$v}
                        <tr>
                            <td><label class="checkbox m-n i-checks"><input type="checkbox" name="post[]"><i></i></label></td>
                            <td>{$k}</td>
                            <td>{$v}</td>
                        </tr>
                          {/foreach}
                    </tbody>
                </table>

        </section>

        <div class="form-group pull-in clearfix">
            <div class="col-xs-4 col-md-8 col-sm-12">
                <label>Value</label>&nbsp;&nbsp;&nbsp;Size:{$info.strlen}
                <textarea class="form-control parsley-validated" name="val" rows="6" data-minwords="6" required placeholder="Value"></textarea>
            </div>
        </div>

        <footer class="col-xs-4 col-md-8 col-sm-12 text-right">
            <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
        </footer>
      </div>
</form>


{/block}
{block name="script"}
{/block}
{block name="js"}
{/block}