{extend name="layout/base" /}
{block name="csslink"}
<link rel="stylesheet" type="text/css" href="/static/plug/responsive/responsive.tabs.css" />
<link rel="stylesheet" href="/static/plug/musik/js/parsley/parsley.css" type="text/css" />
{/block}
{block name="css"}
.tabs-list{padding:0px;}
.tab-content { background-color:#f7f7f7 }
.tab-content h4, .accordion-content h4 { margin-bottom:5px; }
.tab-content p, .accordion-content p { margin-bottom:10px; }
.panel-body{padding:5px}
{/block}
{block name="content"}
<div class="wrapper">
<div class="tabs">
    <ul class="tabs-list">
        <li class="active"><a href="javascript:;">String</a></li>
        <li><a href="javascript:;">Hash</a></li>
        <li><a href="javascript:;">List</a></li>
        <li><a href="javascript:;">Set</a></li>
        <li><a href="javascript:;">Zset</a></li>
    </ul>
    <div class="tabs-container">
        
        <div class="tab-content" style="display:block;">
            <form action="/edit/doSub.html?act=str"  data-parsley-validate class="form" method="post">
                <div class="panel-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Key</label>
                            <input type="text" name="key" class="form-control parsley-validated" placeholder="Key" required>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>               

                    <div class="form-group pull-in clearfix">
                        <div class="col-xs-4 col-md-8 col-sm-12">
                            <label>Value</label>
                            <textarea class="form-control parsley-validated" name="val" rows="6" data-minwords="6" required placeholder="Value"></textarea>
                        </div>
                    </div>

                    <footer class="col-xs-4 col-md-8 col-sm-12 text-right">
                        <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                    </footer>
                </div>
            </form>
        </div>

        <div class="tab-content">
            <form action="/edit/doSub.html?act=hash" method="post">
                <div class="panel-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Key</label>
                            <input type="text" name="key" class="form-control parsley-validated" placeholder="Key" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>

                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Hash Key</label>
                            <input type="text" name="hash_key" class="form-control parsley-validated" placeholder="Hash Key" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>

                    <div class="form-group pull-in clearfix">
                        <div class="col-xs-4 col-md-8 col-sm-12">
                            <label>Value</label>
                            <textarea class="form-control parsley-validated" name="val" rows="6" data-minwords="6" data-required="true" placeholder="Value"></textarea>
                        </div>
                    </div>

                    <footer class="col-xs-4 col-md-8 col-sm-12 text-right">
                        <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                    </footer>
                </div>
            </form>
        </div>

        <div class="tab-content">
            <form action="/edit/doSub.html?act=list" method="post">
                <div class="panel-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Key</label>
                            <input type="text" name="key" class="form-control parsley-validated" placeholder="Key" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>

                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Index</label>
                            <input type="text" name="index" class="form-control parsley-validated" placeholder="Index" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>

                    <div class="form-group pull-in clearfix">
                        <div class="col-xs-4 col-md-8 col-sm-12">
                            <label>Value</label>
                            <textarea class="form-control parsley-validated" name="val" rows="6" data-minwords="6" data-required="true" placeholder="Value"></textarea>
                        </div>
                    </div>

                    <footer class="col-xs-4 col-md-8 col-sm-12 text-right">
                        <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                    </footer>
                </div>
            </form>
        </div>

        <div class="tab-content">
            <form action="/edit/doSub.html?act=set" method="post">
                <div class="panel-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Key</label>
                            <input type="text" name="key" class="form-control parsley-validated" placeholder="Key" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>               

                    <div class="form-group pull-in clearfix">
                        <div class="col-xs-4 col-md-8 col-sm-12">
                            <label>Value</label>
                            <textarea class="form-control parsley-validated" name="val" rows="6" data-minwords="6" data-required="true" placeholder="Value"></textarea>
                        </div>
                    </div>

                    <footer class="col-xs-4 col-md-8 col-sm-12 text-right">
                        <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                    </footer>
                </div>
            </form>
        </div>

        <div class="tab-content">
            <form action="/edit/doSub.html?act=zset" method="post">
                <div class="panel-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Key</label>
                            <input type="text" name="key" class="form-control parsley-validated" placeholder="Key" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>

                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>Score</label>
                            <input type="text" name="score" class="form-control parsley-validated" placeholder="Score" data-required="true">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>

                    <div class="form-group pull-in clearfix">
                        <div class="col-xs-4 col-md-8 col-sm-12">
                            <label>Value</label>
                            <textarea class="form-control parsley-validated" name="val" rows="6" data-minwords="6" data-required="true" placeholder="Value"></textarea>
                        </div>
                    </div>

                    <footer class="col-xs-4 col-md-8 col-sm-12 text-right">
                        <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                    </footer>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/plug/responsive/responsive.tabs.js"></script>
<script src="/static/plug/musik/js/parsley/parsley.min.js"></script>
<script src="/static/plug/serializejson/jquery.serializejson.js"></script>
{/block}
{block name="js"}
$(document).ready(function(){
    $('.tabs').respTabs();    
    
    $('.form').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
        $('.bs-callout-info').toggleClass('hidden', !ok);
        $('.bs-callout-warning').toggleClass('hidden', ok);
    })
    .on('form:submit', function() {       
        $.post('/edit/set',$('#form').serializeJSON(),function(data){
            if(data.result.code!='OK'){
                swal({title: data.result.msg,text:data.result.code,type:'error'});return false;
            }
            if(window.localStorage) {
                store.remove('menu');
            }
            swal({title: data.result.msg,text:data.result.code,type:'success'});         
        },'json');
        return false; // Don't submit form for this demo
    });
});
{/block}