<footer class="footer hidden-xs no-padder text-center-nav-xs">
    <div class="bg hidden-xs ">
        <div class="dropdown dropup wrapper-sm clearfix">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm pull-left m-l-xs">
                    <img src="/static/image/redis-white.png">
                </span>
                <span class="hidden-nav-xs clear">
                    <span class="block m-l">
                    <strong class="font-bold text-lt">Redis</strong>                    
                    </span>
                </span>
            </a>
        </div>
    </div>
</footer>