<!-- nav -->
<nav class="nav-primary hidden-xs">
    <ul class="nav bg clearfix">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
            Discover
        </li>
        <li>
            <a href="/edit.html">
                <i class="fa fa-edit"></i>
                <span class="font-bold">编辑元素</span>
            </a>
        </li>
        <li>
            <a href="/str.html">
                <i class="icon-disc icon text-success"></i>
                <span class="font-bold">字符串</span>
            </a>
        </li>
        <li>
            <a href="hash.html">
                <i class="fa fa-hashtag text-info"></i>
                <span class="font-bold">哈希</span>
            </a>
        </li>
        <li>
            <a href="list.html">
                <i class="icon-drawer icon text-primary-lter"></i>
                <b class="badge bg-primary pull-right">6</b>
                <span class="font-bold">链表</span>
            </a>
        </li>
        <li>
            <a href="set.html">
                <i class="fa fa-list-ul"></i>
                <span class="font-bold">集合</span>
            </a>
        </li>
        <li>
            <a href="zset.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                <i class="fa fa-list-ol"></i>
                <span class="font-bold">有序集合</span>
            </a>
        </li>
        <li class="m-b hidden-nav-xs"></li>
    </ul>
</nav>
<!-- / nav -->