input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border-color: #ff5f5f !important;
}

.parsley-error-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 6px;
    font-size: 12px;
}

.parsley-errors-list.filled {
    opacity: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 6px;
    font-size: 12px;
}